/* Hide previous and next 2 buttons */
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
}

/* Center align the navigation */
.react-calendar__navigation {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: larger !important;
}

/* Flex display for month view days and weekdays */
.react-calendar__month-view__days,
.react-calendar__month-view__weekdays {
  display: flex !important;
}

/* Style the navigation arrows */
.react-calendar__navigation__arrow,
.react-calendar__navigation__next-button:hover {
  height: 40px !important;
  font-size: xx-large !important;
  color: #1A1A1A !important;
}

/* Hover effect for tiles */
.react-calendar__tile:enabled:hover {
  background-color: #0069FF !important;
  color: white !important;
}

/* Active and enabled state for tiles */
.react-calendar__tile:active,
.react-calendar__month-view__days__day:enabled {
  display: flex !important;
  justify-content: center !important;
  color: #0069FF !important;
  font-size: medium !important;
}

/* Remove any background color and border */
.react-calendar,
.react-calendar__month-view__days__day,
.react-calendar__tile,
.react-calendar__tile:disabled,
.react-calendar__tile:enabled {
  background-color: transparent !important;
  border: none !important;
}

/* Additional styles for specific states */
.react-calendar__tile--active:enabled {
  color: white !important;
  background-color: #0069FF !important;
}

/* Style for navigation buttons */
.react-calendar button {
  border-radius: 100px !important;
}

/* Padding for tiles */
.react-calendar__tile {
  padding: 16px 6.6667px !important;
}

/* Center align the navigation label */
.react-calendar__navigation__label {
  flex-grow: 0.1 !important;
}

/* Hide scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  display: none !important;
}

abbr[title] {
  text-decoration: none;
  color: #1A1A1A;
}